.star {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: #000;
	overflow: hidden;
}
.full-star {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #0f0;
	left: 10px;
	bottom: 0;
	z-index: 1;
}
.blank-star {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #f00;
	left: 0;
	bottom: 0;
}