.logo a {
	text-decoration: none;
	background-color: #1a54e7;
	color: #fff;
	display: inline-block;
	padding: 50px;
	font-size: 24px;
	position: relative;
}
.logo a:after {
	content: "";
	position: absolute;
	top: 0;
	left: -500px;
	bottom: 0;
	right: 100%;
	background-color: #0a1035;
}