/*
================================
Begenning of header and slier area
================================
*/

/*
===================================
Begenning of header
*/
.header {
    background-image: url(../images/header.jpg);
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
/*
End of header
=======================================*/

/*
=======================================
Begenning of slider
*/
.slider {
    text-align: center;
    text-transform: uppercase;
    border: 2px solid green;
}
.carousel-indicators {
    background-color: pink;
}
.current-offer {
    padding: 100px;
}
.offer-time span {
    letter-spacing: 6px;
    font-size: 20px;
}
.offer {
    font-size: 50px;
}
/*
End of slider
=======================================
*/
/*
==================================
End of header and slider
==================================
*/


/*
============================
Begenning of product area
============================
*/
.latest-product-area {
    text-transform: capitalize;
    text-align: center;
}
.product-heading{
    display: inline-block;
    position: relative;
}
.product-heading:before {
    content: " ";
    width: 48%;
    height: 3px;
    top: 20%;
    left: 25%;
    background-color: #f00;
    position: absolute;
}
.product-heading:after {
    content: " ";
    width: 48%;
    height: 3px;
    left: 25%;
    background-color: #f00;
    position: absolute;
    bottom: 10%;
}
.details {
    margin-bottom: 20px;
}
.product-list-one {
    position: relative;
    height: 400px;
}
.product-list-one img {
    width: 100%;
    height: 100%;
}
.product-for {
    position: absolute;
    top: 50%;
    left: 33%;
    color: #fff;
    font-size: 30px;
    font-style: italic;
}
.product-list-two {
    position: relative;
}
.product-comment {
    position: absolute;
    width: 103px;
    height: 116px;
    top: 30%;
    left: 42%;
    color: #fff;
}
.product-comment h2 {
    font-size: 22px;
}
.product-list-two:after {
    content: " ";
    width: 100px;
    height: 3px;
    left: 42%;
    top: 58%;
    background-color: #f00;
    bottom: 0;
    position: absolute;
}
.product-list-two:before {
    content: " ";
    width: 100px;
    height: 3px;
    left: 42%;
    top: 34%;
    background-color: #f00;
    bottom: 0;
    position: absolute;
}
/*
============================
End of product area
============================
*/