/*
=================================
Header area starts from here
=================================
*/

.header, .slider {
	background-color: #fcdb00;
}
.header {
	padding-top: 50px;
}
.header .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.nav li a {
	font-size: 22px;
	font-weight: 700;
	color: #000;
}
/*
================================
End of header area
================================
*/



/*
===============================
Slider area starts from here
===============================
*/
.slider {
	padding-bottom: 30px;
}
.slider h2 {
	font-size: 32px;
}
.special {
	font-size: 20px;

p {
	font-size: 16px;
}
.product-icon a {
	font-size: 100px;
	color: #000;
	margin-right: 30px;
}
.slider-image {
	text-align: center;
}
/*
===================================
End of /.slider
===================================
*/

/*
===================================
Begenning of product-features
===================================
*/
.product-features {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}

.features-header {
	text-align: center;
}

.feature-in-details {
	margin-bottom: 30px;
	margin-top: 30px;
}
.icon {
    width: 25%;
    font-size: 76px;
    float: left;
    height: 130px;
}
.product-details {
	float: right;
}
/*
==================================
End of products fetaures area
==================================
*/

/*
==================================
Begenning of subscription area
==================================
*/
.subscription {
	margin-top: 50px;
	background-color: #000;
	text-align: center;
}
.put-mail {
    position: relative;
    width: 340px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.submit .btn-default {
    position: absolute;
    top: 60px;
    left: 363px;
    right: 0;
    background-color: #fcdb00;
}
.social-media {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}
.social-media ul {
	list-style: none;
	display: table;
}
.social-media ul li {
	margin: 0;
	padding: 0;
	float: left;
}

.social-media ul li a {
	display: block;
    width: 47px;
    font-size: 30px;
    color: #fcdb00;
}

/*
============================
End of subscription area
============================
*/



/*
==============================
Begenning of footer area
==============================
*/

.footer {
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #000;
	color: #fff;
}
.extra ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra ul li a {
	text-decoration: none;
	color: #fff;
}

/*
==========================
End of footer
==========================
*/